.contact-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 40px ;
  color:#5b4f47;
  text-align: center;
  background-color:#F7F3EA;
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  background-color: #5b4f47;
  border-radius: 12px;
  padding: 30px ;
  margin-left: 200px;
  margin-right: 150px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.contact-form,
.contact-info {
  flex: 1;
  min-width: 280px;
  background-color: #F7F3EA;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.contact-info {
  background-image: url('C:\Users\Dell\Desktop\jewel\JewlleryStore\views\src\assets\contact.jpeg'); /* update with actual image path */
  background-size: cover;        /* makes the image cover the whole area */
  background-position: center;   /* centers the image */
  background-repeat: no-repeat;  /* prevents tiling */
  padding: 50px;                 /* add padding if needed */
  color: white;                  /* ensure text is visible over background */
}


.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  background-color: #5b4f47;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #111827;
}

.contact-info h3 {
  padding-top: 70px;
  font-size: 1.9rem;
  margin-bottom: 15px;
  font-style: italic;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.contact-info p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #ffffff;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  min-height: 100vh;
}

.contact-container {
  flex: 1;
  /* padding: 2rem; */
}